<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techmaster Blog</title>
    <style>
        img{
            max-width: 400px;
        }
    </style>
</head>
<body>
    <h1>Techmaster Blog</h1>

    <form action="/new-entry" method="POST">
        <input type="text" name="image" placeholder="URL ảnh"/>
        <input type="text" name="title" placeholder="Title bài viết"/>
        <input type="text" name="date" placeholder="Ngày tháng"/>
        <button type="submit">Thêm mục mới</button>
    </form>
    <br>

    <% for(let i = 0; i < result.length; i++) { %>
        <img src="<%= result[i].image %>">
        <p><%= result[i].title %></p>
        <p><%= result[i].date %></p>
    <% } %>
</body>
</html>